.advertisement {
    width: 80%;
    height: 5rem;
}

.navbar .advertisement {
    width: 100%;

    @include breakpoint(tablet) {
        width: 80%;
        margin-left: 20%;
    }    
}

.sport-type-container .advertisement {
    margin-top: 1rem;            
    width: 70%;

    @include breakpoint(desktop) {
        width: 80%
    }

    @include breakpoint(lg-mobile) {
        width: 100%;
    }
    
}

.chat-container .advertisement {
    width: 100%;
    height: 10rem;
}

.streaming-container .advertisement {
    margin-top: 1rem;
    width: 50%;
}

.ad .advertisement{
    width: 100%;
}

.navbar-block .advertisement {
    width: 100%;    

    @include breakpoint(tablet) {        
        margin-left: 0%;        
    }
}

.navbar-block {
    flex-flow: column nowrap !important; 
}

.list-advertisement {        
    .nav-item {
        width: 33.3%;
        display: inline-block;        
    }

    @include breakpoint(sm-tablet) {
        .nav-item {
            width: 50%;
        }

        .advertisement-responsive {
            display: none;
        }
    }    
}