.highlight {
    &-box {        
        cursor: pointer;
        transition: 150ms;
        &:hover .highlight-thumbnail {
            filter: brightness(.7);            
        }

        &:hover .highlight-play-button {
            visibility: visible;
            opacity: 1;

            @include breakpoint(md-tablet) {
                visibility: 0;
                opacity: 0;
            }
        }
    }

    &-thumbnail {
        position: relative;
        background-image: url('../images/champion-league.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: none;        
    }

    &-title {
        padding: 5px;
        background-color: rgba($color-dark-2, .95);
        color: $color-white;
        text-align: center;
        font-family: 'Comic Sans MS';        

        &-match {
            font-size: $font-size-xs;
        }

        &-tour {
            font-size: $font-size-xxs;
            color: rgba($color-white, .8);            
        }
    }
}

.highlight-play-button {
    opacity: 0;
    visibility: hidden;
    transition: 150ms;
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: $color-secondary-2;
    margin: auto;
    transform: scale(1, 1);

    &.pulse {
        animation-timing-function: ease;
        animation: pulse 2s infinite;
        background-color: lighten($color-secondary-2, 25%);
    }
}

svg {
    fill: darken($color-secondary-2, 50%);
    stroke: darken($color-secondary-2, 50%);
    stroke-linejoin: round;
    stroke-width: 5;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        fill: darken($color-secondary-2, 25%);
        stroke: darken($color-secondary-2, 25%);
        transform: scale(1.2, 1.2);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

.slider-for {
    @include breakpoint(md-tablet) {
        display: none;
    }
    & .highlight-box {
        position: relative;
        overflow: hidden;
    }
    
    & .highlight-thumbnail {
        height: 20rem;
    }

    & .highlight-title {
        display: block;
        width: 105%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba($color-dark, 0);
        color: $color-dark;        
    }

    & .highlight-title-match {
        font-size: $font-size-m;
        color: $color-dark;
    }
}

.slider-nav {    
    .highlight-video-container {
        margin-bottom: 6rem;    
    }

    & .highlight-thumbnail {
        height: 9rem;

        @include breakpoint(l-mobile) {
            height: 7rem;
        }
    }

    & .highlight-title-match, & .highlight-title-tour {
        @include breakpoint(md-tablet) {
            font-size: 16px !important;
        }
        @include breakpoint(l-mobile) {
            font-size: 12px !important;
        }
    }

    .slick-slide {
        padding-left: .1rem;
        padding-right: .1rem;
    }
}