.navbar-main {
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

.navbar-brand-logo {
    @include breakpoint(l-mobile) {
        width: 7rem !important;
    }
}

.navbar-logo {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}