.streaming-card {    
    background-color: $color-white;   

    &-team-1, &-team-2 {
        font-weight: bold;
    }

    
}

.streaming-card-title {
    font-size: $font-size-s;

    &-container {
        clip-path: polygon(0 0, 100% 0%, 80% 100%, 0 100%);

        background-color: $color-dark;
        height: 5rem;
        color: #f6f6f6;
    }
}