.create-streaming-heading {
    @include breakpoint(tablet) {
        font-size: $font-size-s;
    }
}

.streaming-table-data th {
    @include breakpoint(md-tablet) {
        white-space: nowrap; 
        overflow: hidden;
    }
}


.team-logo {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    &:hover {
        filter: brightness(80%);
    }
}

.input-modify-team-logo {
    left: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.input-modify {

    &-title,
    &-key,
    &-tournament,
    &-score,
    &-date,
    &-team-name {
        background-color: transparent;
        border: none;
        font-size: 80%;
        font-weight: 400;
        outline: none;
    }

    &-score {
        width: 30px;
    }

    &-team-name,
    &-score {
        text-align: center;
    }
}