.streaming-container {
    @include breakpoint(lg-tablet) {
        display: none;
    }    
}

.streaming-videos-container {
    overflow-y: auto;
}

.streaming-card {
    &-containers {
        background-color: $color-white;
        margin: 0 auto;
        margin-bottom: 1rem;        
        color: $color-dark;                   
        font-size: 16px;

        @include breakpoint(lg-desktop) {
            font-size: 18px;
        }
    }

    &-team {
        font-weight: bold;
    }

    &-title {
        font-size: 17px;

        @include breakpoint(desktop) {
            font-size: 19px;
        }
    
        &-container {
            height: 4.35rem;
            color: #f6f6f6;

            clip-path: polygon(0 0, 100% 0%, 78% 100%, 0 100%);
            -webkit-clip-path: polygon(0 0, 100% 0%, 78% 100%, 0 100%);            

            @include breakpoint(lg-laptop) {
                max-width: 35%;
            }

            @include breakpoint(laptop) {
                max-width: 28%;
            }
            background: #16222A;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #326077, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #326077, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                        
        }
    }    
}

@include breakpoint(desktop) {
    .streaming-card-title-container {
        height: 3.5rem;
        max-width: 35%;
        flex: 0 0 35%;
    }    

    .streaming-card-team-display {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .streaming-card-score-display {
        max-width: 10%;
        flex: 0 0 10%;
    }
}