.streaming-card {
    &-team-display, &-score-display {
        @include breakpoint(wtf-tablet) {
            display: none !important;
            visibility: 0 !important;
            opacity: 0 !important;
        }
    }
    &-hidden {
        margin-top: 1rem;
        opacity: 0;
        visibility: hidden;
        display: none;
        width: 100%;
        
        @include breakpoint(wtf-tablet) {
            display: flex !important;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            opacity: 1;
            visibility: visible;
        }
    }

    &-containers {
        background-color: $color-white;
        margin: 0 auto;
        margin-bottom: 1rem;        
        color: $color-dark;       
        
        @include breakpoint(wtf-tablet) {
            padding-bottom: .5rem;
        }
    }

    &-team {
        font-weight: bold;
    }

    &-title {
        font-family: Cagliostro;
        font-size: $font-size-s;
    
        &-container {
            height: 5rem;
            color: #f6f6f6;

            clip-path: polygon(0 0, 100% 0%, 88% 100%, 0 100%);
            -webkit-clip-path: polygon(0 0, 100% 0%, 88% 100%, 0 100%);

            @include breakpoint(wtf-tablet) {                
                clip-path: unset;
                -webkit-clip-path: unset;
                height: 4rem;
                max-width: 100% !important;
                flex: 0 0 100% !important;
            }
    
            background: #16222A;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #326077, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #326077, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                        
        }
    }    
}