#tennis {
    font-family: $font-family-1;
    color: $color-dark-4;
    font-weight: 300;    
}

.schedules-info, .date {
    text-align: center;
    font-size: 24px;
    color: $color-gray;
    font-weight: 500;
}

.custom_match_layout {
    align-items: center;
    margin: 15px 0;
    padding: 10px;
    background: #f6f6f6;
    transition: box-shadow 0.3s;
}

.custom_match_layout:hover {
    box-shadow: $box-shadow-dark-1;
}

.custom_image {
    max-width: 30%;
    padding: 0px;
}

.custom_image img {
    width: 40%;
    max-height: 300px;
}

.custom_match_info {
    padding: 0 15px;
    text-align: center;
}

.custom_name {
    text-transform: uppercase;
    color: $color-gray;
    font-size: 24px;
    font-weight: bold;
}

.custom_tournament_name {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 300;
    color: $color-gray;
}

.custom_play_button {
    max-width: 30%;
    text-align: right;
}

.custom_date {
    margin: 10px 0 0 0;
    color: #5c6873;
}

.match_is_playing {
    font-size: 15px;
    font-weight: bold;
    color: #000 !important;
    position: relative;
    margin-top: -5px;
}

.match_is_playing img {
    display: block;
    margin: 0 auto;
}

.custom_match_link:hover,
.custom_match_link:focus {
    text-decoration: inherit;
    color: $color-gray;
}

@include breakpoint (md-tablet) {
    .custom_match_info h2.custom_name {
        font-size: 16px;
    }

    .custom_match_info h3.custom_tournament_name {
        font-size: 16px;
    }

    .schedules-info {
        font-size: 17px;
    }

    .custom_date {
        font-size: 13px;
    }

    .live_text {
        font-size: 13px;
    }
}

/* roboto-condensed-regular - latin */
@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-condensed-v18-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local("Roboto Condensed"), local("RobotoCondensed-Regular"),
        url("../fonts/roboto-condensed-v18-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/roboto-condensed-v18-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */
        url("../fonts/roboto-condensed-v18-latin-regular.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/roboto-condensed-v18-latin-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/roboto-condensed-v18-latin-regular.svg#RobotoCondensed") format("svg");
    /* Legacy iOS */
}