// Colors
$color-primary: #041230;
$color-secondary: #4A9C33;

$color-dark: #000;
$color-white: #f5f5f5;

// Font sizes
$font-size-xs: 1rem;
$font-size-s: 1.3rem;
$font-size-m: 1.6rem;
$font-size-l: 2rem;
$font-size-xl: 2.6rem;