.wrapper {
    margin-bottom: 2rem;
}


.sport-type {
    font-family: $font-family-1;
    text-transform: uppercase;

    font-size: 1.7rem;    
    position: relative;
    transition: 250ms;
    cursor: default;
    
    border-bottom: 3px solid gold;

    &-container {
        margin-bottom: 2rem;
    }

    &::after, &::before {
        content: "";
        opacity: 0;
        position: absolute;
        
        bottom: -5px;
        
        width: 15%;        
        height: 5px;

        background: rgb(105, 230, 143);  /* fallback for old browsers */

        transition: 250ms;        
    }

    &::after {left: -10%;}
    &::before {right: -10%;}
    &:hover { border-bottom: 0px }
    &:hover::after, &:hover::before {opacity: 1;}
    &:hover::after {left: 50%;}
    &:hover::before {right: 50%;}
}