extends ./layouts/common.pug
block vars
    - var title="Trang quản lý"
block link
    link(rel="stylesheet" href="./../styles/admin.scss")

block container
    .mt-5
    h2 Thêm mới video phát trực tuyến
    hr
    .upload-container.row        
        .col-6.position-relative
            video.border.video(src='', control)
            .video-not-found.position-absolute.d-flex.flex-column(style="left: 50%; top: 50%; transform: translate(-50%, -50%);")
                p Không tìm thấy nguồn video
                button.btn.btn-dark Tải lại
        .col-6
            .d-flex.flex-row.mt-3
                .mr-5.w-50
                    label(for="input-video-title") Tiêu đề video
                    input.form-control#input-video-title(type="text",placeholder="Nhập vào tên video")
                .w-50
                    label(for="input-video-tour-category") Loại cúp
                    select.form-control#input-video-tour-category
                        option(value="c1") C1
                        option(value="world cup") World cup
            .d-flex.flex-row.mt-3
                .w-50.mr-5
                    label(for="input-video-title") Tên đội 1
                    input.form-control#input-video-team-1(type="text",placeholder="Nhập vào tên đội 1")
                .w-50
                    label(for="input-video-title") Tên đội 2
                    input.form-control#input-video-team-2(type="text",placeholder="Nhập vào tên đội 2")
            .d-flex.flex-row.mt-3
                .w-50.mr-5
                    label(for='input-video-status') Phương phức phát
                    select.form-control#input-video-status
                        option(value="now") Phát lập tức
                        option(value="schedule") Đặt lịch
                .w-50
                    label(for="input-video-time") Thời gian phát
                    input.form-control#input-video-time(type="date")
            button.btn.btn-primary.mt-4.w-25 Lưu
    
    .mt-5
    h2 Thông số kĩ thuật stream
    hr
    .config-stream
        .row
            .col-6
                label(for="streaming-key") Khóa streaming
                input#streaming-key.form-control(type="password" placeholder="Click to copy") 
            .col-6
        .row.mt-3
            .col-6
                label(for="streaming-live-url") URL của sự kiện đang phát trực tiếp
                input#streaming-live-url.form-control(type="text" placeholder="Click to copy") 
            .col-6
                label(for="streaming-backup-url") URL của máy chủ sao lưu
                input#streaming-backup-url.form-control(type="text" placeholder="Click to copy") 
    
    h2.mt-5 Dữ liệu video 
    hr
    table.table.table-striped.table-hover
        thead
            tr
            th(style="width: 30%", scope='col') Tiêu đề
            th(style="width: 30%", scope='col') Cúp
            th(style="width: 15%", scope='col') Trạng thái
            th(style="width: 10%", scope='col') Tỷ số
            th(style="width: 15%", scope='col')
        tbody
            tr
                th(style="text-overflow: hidden", scope='row') Giải Bóng đá Vô địch Quốc gia Tây Ban Nha
                td C1
                td 
                    span.badge.badge-secondary.p-2 Đã phát
                td 1 - 0
                td
                    .dropdown
                        button#dropdown-action.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Thao tác
                        .dropdown-menu(aria-labelledby='dropdown-action')
                            a.dropdown-item(href='#') Cập nhật thông tin
                            a.dropdown-item(href='#') Tắt stream
            tr
                th(style="text-overflow: hidden", scope='row') Giải Bóng đá Vô địch U22 Châu Á Nữ
                td UE
                td 
                    span.badge.badge-danger.p-2 Đang phát
                td 2 - 0
                td
                    .dropdown
                        button#dropdown-action.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Thao tác
                        .dropdown-menu(aria-labelledby='dropdown-action')
                            a.dropdown-item(href='#') Cập nhật thông tin
                            a.dropdown-item(href='#') Tắt stream
            tr
                th(style="text-overflow: hidden", scope='row') World cup 2019
                td PBE
                td 
                    span.badge.badge-info.p-2 Chờ
                td 
                td
                    .dropdown
                        button#dropdown-action.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Thao tác
                        .dropdown-menu(aria-labelledby='dropdown-action')
                            a.dropdown-item(href='#') Cập nhật thông tin
                            a.dropdown-item(href='#') Tắt stream
            tr
                th(style="text-overflow: hidden", scope='row') Giải Bóng đá Vô địch Quốc gia Tây Bán Nhà
                td C8
                td 
                    span.badge.badge-info.p-2 Chờ
                td 
                td
                    .dropdown
                        button#dropdown-action.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Thao tác
                        .dropdown-menu(aria-labelledby='dropdown-action')
                            a.dropdown-item(href='#') Cập nhật thông tin
                            a.dropdown-item(href='#') Tắt stream
            tr
                th(style="text-overflow: hidden", scope='row') Giải Bóng đá Vô địch Quốc gia Tây Ban Nha
                td C1
                td 
                    span.badge.badge-secondary.p-2 Đã phát
                td 1 - 0
                td
                    .dropdown
                        button#dropdown-action.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Thao tác
                        .dropdown-menu(aria-labelledby='dropdown-action')
                            a.dropdown-item(href='#') Cập nhật thông tin
                            a.dropdown-item(href='#') Tắt stream
            tr
                th(style="text-overflow: hidden", scope='row') Giải Bóng đá Vô địch U22 Châu Á Nữ
                td UE
                td 
                    span.badge.badge-danger.p-2 Đang phát
                td 2 - 0
                td
                    .dropdown
                        button#dropdown-action.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Thao tác
                        .dropdown-menu(aria-labelledby='dropdown-action')
                            a.dropdown-item(href='#') Cập nhật thông tin
                            a.dropdown-item(href='#') Tắt stream
            tr
                th(style="text-overflow: hidden", scope='row') World cup 2019
                td PBE
                td 
                    span.badge.badge-info.p-2 Chờ
                td 
                td
                    .dropdown
                        button#dropdown-action.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Thao tác
                        .dropdown-menu(aria-labelledby='dropdown-action')
                            a.dropdown-item(href='#') Cập nhật thông tin
                            a.dropdown-item(href='#') Tắt stream
            tr
                th(style="text-overflow: hidden", scope='row') Giải Bóng đá Vô địch Quốc gia Tây Bán Nhà
                td C8
                td 
                    span.badge.badge-info.p-2 Chờ
                td 
                td
                    .dropdown
                        button#dropdown-action.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Thao tác
                        .dropdown-menu(aria-labelledby='dropdown-action')
                            a.dropdown-item(href='#') Cập nhật thông tin
                            a.dropdown-item(href='#') Tắt stream

block script
    //- streamer
    //- script(src="https://cdn.jsdelivr.net/npm/hls.js@latest")
    //- main files
    script(src='./../scripts/admin.js')