extends ./layouts/common.pug
block vars
    - var title="Trang quản lý"
block link
    link(rel="stylesheet" href="./../styles/admin.scss")

block container
    .container-fluid.row.col-12.upload-new-video
        include ./components/_uploadStreamingData
    
block script
    //- streamer
    //- script(src="https://cdn.jsdelivr.net/npm/hls.js@latest")
    //- main files
    //- script(src='./../scripts/admin.js')