extends ./layouts/common.pug
block vars
    - var title="Trang chủ"

block container
    .col-lg-9.col-md-12.left-content        
        .mt-5.schedule-container
            include ./components/_schedule
        
        section#tennis
            include ./components/_tennis.pug
        
        .mt-5.streaming-container
            include ./components/_streaming
        
        .mt-5.highlight-video-container
            include ./components/_hightlightsVideo

    .right-content.col-lg-3.col-md-12.col-xs-0
        block chat
            include ./blocks/chat
block script
    script(src='./../scripts/main.js')
    script(src='./../scripts/helper/ScrollReveal.js')
