extends ./layouts/common.pug
block vars
    - var title="Mygoaltv.com - Live streaming sport website"
    - var authorized = false

block link
    //- slick slider
    link(rel="stylesheet",
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css")
    link(rel="stylesheet",
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
    //- hover.css
    link(href="./../styles/css/hover.min.css" rel="stylesheet")
    //- main file
    link(rel="stylesheet" href="./../styles/index.scss")
    
block container            
    .col-lg-12.col-xl-9.left-content                
        section.schedule-container
            include ./components/_schedule
        
        section.streaming-container
            hr
            include ./components/_streamingMatches        
                
        section.highlight-video-container
            hr
            include ./components/_hightlightVideos
    .col-lg-12.col-xl-3.right-content
        include ./components/_chat

block script
    //- slick
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
    //- scroll reveal
    script(src="https://unpkg.com/scrollreveal")
    //- main files
    script(src='./../scripts/main.js')
    script(src='./../scripts/vendors/ScrollReveal.js')
    script(src='./../scripts/vendors/SlickSlider.js')
