extends ./layouts/common.pug
block vars
    - var title="Home page"
    - var authorized = false

block link
    //- slick slider
    link(rel="stylesheet",
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css")
    link(rel="stylesheet",
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
    //- hover.css
    link(href="./../styles/css/hover.min.css" rel="stylesheet")
    //- main file
    link(rel="stylesheet" href="./../styles/index.scss")
    
block container
    .col-md-12.col-lg-9.col-xl-8.left-content
        section.mt-5.schedule-container
            include ./components/_schedule
        
        section#tennis.mt-5
            include ./components/_tennis.pug
        
        section.mt-5.streaming-container
            include ./components/_streamingMatches
        
        section.mt-5.highlight-video-container
            include ./components/_hightlightVideos
    .col-md-12.col-lg-3.col-xl-4.right-content
        include ./components/_chat

block script
    //- slick
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
    //- scroll reveal
    script(src="https://unpkg.com/scrollreveal")
    //- main files
    script(src='./../scripts/main.js')
    script(src='./../scripts/vendors/ScrollReveal.js')
    script(src='./../scripts/vendors/SlickSlider.js')
