extends ./layouts/common.pug

block container    
    //- Lich phat
    .mt-5
        h2 Lịch phát
        hr
        .schedule
            .schedule-containers.row
                .col-1
                .col-4.d-flex.flex-row.align-items-center.justify-content-start.schedule-team-1.schedule-team
                    img.rounded-circle.img-responsive.schedule-team-img(src="../images/472-536x354.jpg", alt="Team logo")
                    .schedule-team-name-container.schedule-team-name-container-1
                        p.schedule-team-name
                            | GEORIA
                .col-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                    p.schedule-time
                        | 12/10/2019 - 10:00 PM
                    strong.schedule-tour-name
                        | Euro 2020 Qualification
                .col-4.d-flex.flex-row.align-items-center.justify-content-end.schedule-team-2.schedule-team
                    .schedule-team-name-container.schedule-team-name-container-2
                        p.schedule-team-name
                            | Republic of Russia
                    img.rounded-circle.schedule-team-img.img-responsive(src="../images/472-536x354.jpg", alt="Team logo")
                .col-1
            .schedule-containers.row
                .col-1
                .col-4.d-flex.flex-row.align-items-center.justify-content-start.schedule-team-1.schedule-team
                    img.rounded-circle.img-responsive.schedule-team-img(src="../images/472-536x354.jpg", alt="Team logo")
                    .schedule-team-name-container.schedule-team-name-container-1
                        p.schedule-team-name
                            | GEORIA
                .col-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                    p.schedule-time
                        | 12/10/2019 - 10:00 PM
                    strong.schedule-tour-name
                        | Euro 2020 Qualification
                .col-4.d-flex.flex-row.align-items-center.justify-content-end.schedule-team-2.schedule-team
                    .schedule-team-name-container.schedule-team-name-container-2
                        p.schedule-team-name
                            | Republic of Russia
                    img.rounded-circle.schedule-team-img.img-responsive(src="../images/472-536x354.jpg", alt="Team logo")
                .col-1
            .schedule-containers.row        
                .col-1
                .col-4.d-flex.flex-row.align-items-center.justify-content-start.schedule-team-1.schedule-team
                    img.rounded-circle.img-responsive.schedule-team-img(src="../images/472-536x354.jpg", alt="Team logo")
                    .schedule-team-name-container.schedule-team-name-container-1
                        p.schedule-team-name
                            | GEORIA
                .col-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                    p.schedule-time
                        | 12/10/2019 - 10:00 PM
                    strong.schedule-tour-name
                        | Euro 2020 Qualification
                .col-4.d-flex.flex-row.align-items-center.justify-content-end.schedule-team-2.schedule-team
                    .schedule-team-name-container.schedule-team-name-container-2
                        p.schedule-team-name
                            | Republic of Russia
                    img.rounded-circle.schedule-team-img.img-responsive(src="../images/472-536x354.jpg", alt="Team logo")
                .col-1
            .schedule-containers.row        
                .col-1
                .col-4.d-flex.flex-row.align-items-center.justify-content-start.schedule-team-1.schedule-team
                    img.rounded-circle.img-responsive.schedule-team-img(src="../images/472-536x354.jpg", alt="Team logo")
                    .schedule-team-name-container.schedule-team-name-container-1
                        p.schedule-team-name
                            | GEORIA
                .col-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                    p.schedule-time
                        | 12/10/2019 - 10:00 PM
                    strong.schedule-tour-name
                        | Euro 2020 Qualification
                .col-4.d-flex.flex-row.align-items-center.justify-content-end.schedule-team-2.schedule-team
                    .schedule-team-name-container.schedule-team-name-container-2
                        p.schedule-team-name
                            | Republic of Russia
                    img.rounded-circle.schedule-team-img.img-responsive(src="../images/472-536x354.jpg", alt="Team logo")
                .col-1
            .schedule-containers.row        
                .col-1
                .col-4.d-flex.flex-row.align-items-center.justify-content-start.schedule-team-1.schedule-team
                    img.rounded-circle.img-responsive.schedule-team-img(src="../images/472-536x354.jpg", alt="Team logo")
                    .schedule-team-name-container.schedule-team-name-container-1
                        p.schedule-team-name
                            | GEORIA
                .col-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                    p.schedule-time
                        | 12/10/2019 - 10:00 PM
                    strong.schedule-tour-name
                        | Euro 2020 Qualification
                .col-4.d-flex.flex-row.align-items-center.justify-content-end.schedule-team-2.schedule-team
                    .schedule-team-name-container.schedule-team-name-container-2
                        p.schedule-team-name
                            | Republic of Russia
                    img.rounded-circle.schedule-team-img.img-responsive(src="../images/472-536x354.jpg", alt="Team logo")
                .col-1
            .schedule-containers.row
                .col-1
                .col-4.d-flex.flex-row.align-items-center.justify-content-start.schedule-team-1.schedule-team
                    img.rounded-circle.img-responsive.schedule-team-img(src="../images/472-536x354.jpg", alt="Team logo")
                    .schedule-team-name-container.schedule-team-name-container-1
                        p.schedule-team-name GEORIA
                .col-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                    p.schedule-time
                        | 12/10/2019 - 10:00 PM
                    strong.schedule-tour-name
                        | Euro 2020 Qualification
                .col-4.d-flex.flex-row.align-items-center.justify-content-end.schedule-team-2.schedule-team
                    .schedule-team-name-container.schedule-team-name-container-2
                        p.schedule-team-name
                            | Republic of Russia
                    img.rounded-circle.schedule-team-img.img-responsive(src="../images/472-536x354.jpg", alt="Team logo")
                .col-1
            .schedule-containers.row        
                .col-1
                .col-4.d-flex.flex-row.align-items-center.justify-content-start.schedule-team-1.schedule-team
                    img.rounded-circle.img-responsive.schedule-team-img(src="../images/472-536x354.jpg", alt="Team logo")
                    .schedule-team-name-container.schedule-team-name-container-1
                        p.schedule-team-name
                            | GEORIA
                .col-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                    p.schedule-time
                        | 12/10/2019 - 10:00 PM
                    strong.schedule-tour-name
                        | Euro 2020 Qualification
                .col-4.d-flex.flex-row.align-items-center.justify-content-end.schedule-team-2.schedule-team
                    .schedule-team-name-container.schedule-team-name-container-2
                        p.schedule-team-name
                            | Republic of Russia
                    img.rounded-circle.schedule-team-img.img-responsive(src="../images/472-536x354.jpg", alt="Team logo")
                .col-1
            .schedule-containers.row        
                .col-1
                .col-4.d-flex.flex-row.align-items-center.justify-content-start.schedule-team-1.schedule-team
                    img.rounded-circle.img-responsive.schedule-team-img(src="../images/472-536x354.jpg", alt="Team logo")
                    .schedule-team-name-container.schedule-team-name-container-1
                        p.schedule-team-name
                            | GEORIA
                .col-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                    p.schedule-time
                        | 12/10/2019 - 10:00 PM
                    strong.schedule-tour-name
                        | Euro 2020 Qualification
                .col-4.d-flex.flex-row.align-items-center.justify-content-end.schedule-team-2.schedule-team
                    .schedule-team-name-container.schedule-team-name-container-2
                        p.schedule-team-name
                            | Republic of Russia
                    img.rounded-circle.schedule-team-img.img-responsive(src="../images/472-536x354.jpg", alt="Team logo")
                .col-1
    //- Lich phat >>

    //- Dang phat
    .mt-5
        h2 Đang phát
        hr
        .d-flex.flex-column.streaming-container.mt-5
            .streaming-card.row.w-75.mx-auto.mb-3
                .col-4.streaming-card-title-container.d-flex.flex-row.align-items-center
                    i.fas.fa-tv.mr-3
                    h3.streaming-card-title Japan League Women
                .col-3.streaming-card-team-1-container.d-flex.align-items-center.justify-content-center
                    p.streaming-card-team-1 Ehime (Women)
                p.col-1.streaming-card-score.d-flex.align-items-center.justify-content-center 1 - 0                
                .col-3.streaming-card-team-2-container.d-flex.align-items-center.justify-content-center
                    p.streaming-card-team-2 Ehime (Men)    
        
            .streaming-card.row.w-75.mx-auto.mb-3
                .col-4.streaming-card-title-container.d-flex.flex-row.align-items-center
                    i.fas.fa-tv.mr-3
                    h3.streaming-card-title Japan League Women
                .col-3.streaming-card-team-1-container.d-flex.align-items-center.justify-content-center
                    p.streaming-card-team-1 Ehime (Women)
                p.col-1.streaming-card-score.d-flex.align-items-center.justify-content-center 1 - 0                
                .col-3.streaming-card-team-2-container.d-flex.align-items-center.justify-content-center
                    p.streaming-card-team-2 Ehime (Men)    
        
            .streaming-card.row.w-75.mx-auto.mb-3
                .col-4.streaming-card-title-container.d-flex.flex-row.align-items-center
                    i.fas.fa-tv.mr-3
                    h3.streaming-card-title Japan League Women
                .col-3.streaming-card-team-1-container.d-flex.align-items-center.justify-content-center
                    p.streaming-card-team-1 Ehime (Women)
                p.col-1.streaming-card-score.d-flex.align-items-center.justify-content-center 1 - 0                
                .col-3.streaming-card-team-2-container.d-flex.align-items-center.justify-content-center
                    p.streaming-card-team-2 Ehime (Men)
            .streaming-card.row.w-75.mx-auto.mb-3
                .col-4.streaming-card-title-container.d-flex.flex-row.align-items-center
                    i.fas.fa-tv.mr-3
                    h3.streaming-card-title Japan League Women
                .col-3.streaming-card-team-1-container.d-flex.align-items-center.justify-content-center
                    p.streaming-card-team-1 Ehime (Women)
                p.col-1.streaming-card-score.d-flex.align-items-center.justify-content-center 1 - 0                
                .col-3.streaming-card-team-2-container.d-flex.align-items-center.justify-content-center
                    p.streaming-card-team-2 Ehime (Men)    
        
            .streaming-card.row.w-75.mx-auto.mb-3
                .col-4.streaming-card-title-container.d-flex.flex-row.align-items-center
                    i.fas.fa-tv.mr-3
                    h3.streaming-card-title Japan League Women
                .col-3.streaming-card-team-1-container.d-flex.align-items-center.justify-content-center
                    p.streaming-card-team-1 Ehime (Women)
                p.col-1.streaming-card-score.d-flex.align-items-center.justify-content-center 1 - 0                
                .col-3.streaming-card-team-2-container.d-flex.align-items-center.justify-content-center
                    p.streaming-card-team-2 Ehime (Men)    
        
            .streaming-card.row.w-75.mx-auto.mb-3
                .col-4.streaming-card-title-container.d-flex.flex-row.align-items-center
                    i.fas.fa-tv.mr-3
                    h3.streaming-card-title Japan League Women
                .col-3.streaming-card-team-1-container.d-flex.align-items-center.justify-content-center
                    p.streaming-card-team-1 Ehime (Women)
                p.col-1.streaming-card-score.d-flex.align-items-center.justify-content-center 1 - 0                
                .col-3.streaming-card-team-2-container.d-flex.align-items-center.justify-content-center
                    p.streaming-card-team-2 Ehime (Men)
    //- Dang phat >>

block script
    script(src='./../scripts/main.js')

