extends ./layouts/common.pug
block vars
    - var title="Trang chủ"

block container
    .col-lg-9.col-md-12.left-content        
        .mt-5.schedule-container
            h2.schedule-heading Lịch phát
            hr
            .sport-type-container.text-center
                span.ml-2.sport-type
                    | BÓNG ĐÁ
                .row.schedule-item-containers
                    .col-5.d-flex.flex-row.align-items-center
                        img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
                        .schedule-team-name-container.schedule-team-name-container-1
                            p.schedule-team-name-content.schedule-team-name-content-left Lokey
                    .col-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                        p.schedule-time 2:00 PM
                        strong.schedule-tour-name 20/10/2019
                    .col-5.d-flex.flex-row.align-items-center.justify-content-end
                        .schedule-team-name-container.schedule-team-name-container-2
                            p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
                        img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
                .row.schedule-item-containers
                    .col-5.d-flex.flex-row.align-items-center
                        img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
                        .schedule-team-name-container.schedule-team-name-container-1
                            p.schedule-team-name-content.schedule-team-name-content-left Lokey
                    .col-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center                    
                        img.schedule-time-stream.hvr-buzz(src="../images/live-icon.png" alt="Live stream")
                    .col-5.d-flex.flex-row.align-items-center.justify-content-end
                        .schedule-team-name-container.schedule-team-name-container-2
                            p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
                        img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')            
            
            .sport-type-container.text-center
                span.ml-2.sport-type
                    | BÓNG CHUYỀN
                .row.schedule-item-containers
                    .col-5.d-flex.flex-row.align-items-center
                        img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
                        .schedule-team-name-container.schedule-team-name-container-1
                            p.schedule-team-name-content.schedule-team-name-content-left Lokey
                    .col-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                        p.schedule-time 2:00 PM
                        strong.schedule-tour-name 20/10/2019
                    .col-5.d-flex.flex-row.align-items-center.justify-content-end
                        .schedule-team-name-container.schedule-team-name-container-2
                            p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
                        img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
                .row.schedule-item-containers
                    .col-5.d-flex.flex-row.align-items-center
                        img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
                        .schedule-team-name-container.schedule-team-name-container-1
                            p.schedule-team-name-content.schedule-team-name-content-left Lokey
                    .col-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center                    
                        img.schedule-time-stream.hvr-buzz(src="../images/live-icon.png" alt="Live stream")
                    .col-5.d-flex.flex-row.align-items-center.justify-content-end
                        .schedule-team-name-container.schedule-team-name-container-2
                            p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
                        img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')            
            .sport-type-container.text-center                
                span.ml-2.sport-type
                    | BÓNG BÀN
                .row.schedule-item-containers
                    .col-5.d-flex.flex-row.align-items-center
                        img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
                        .schedule-team-name-container.schedule-team-name-container-1
                            p.schedule-team-name-content.schedule-team-name-content-left Lokey
                    .col-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                        p.schedule-time 2:00 PM
                        strong.schedule-tour-name 20/10/2019
                    .col-5.d-flex.flex-row.align-items-center.justify-content-end
                        .schedule-team-name-container.schedule-team-name-container-2
                            p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
                        img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
                .row.schedule-item-containers
                    .col-5.d-flex.flex-row.align-items-center
                        img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
                        .schedule-team-name-container.schedule-team-name-container-1
                            p.schedule-team-name-content.schedule-team-name-content-left.test Lokey
                    .col-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center                    
                        img.schedule-time-stream.hvr-buzz(src="../images/live-icon.png" alt="Live stream")
                    .col-5.d-flex.flex-row.align-items-center.justify-content-end
                        .schedule-team-name-container.schedule-team-name-container-2
                            p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
                        img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')            
        
        include tennis.pug
        
        .mt-5.streaming-container
            h2.streaming-heading Đang phát
            hr
            .row.streaming-card-containers
                .col-xl-5.col-lg-4.d-flex.flex-row.align-items-center.streaming-card-title-container.hvr-bounce-to-right
                    i.fas.fa-tv.mr-3
                    h3.streaming-card-title Japan League Women
                .col-xl-3.d-flex.align-items-center.justify-content-center.streaming-card-team-container
                    p.streaming-card-team Ehime (Women)
                p.col-xl-1.col-lg-2.d-flex.align-items-center.justify-content-center.streaming-card-score 
                    | 1 - 0
                .col-xl-3.d-flex.align-items-center.justify-content-center.streaming-card-team-container
                    p.streaming-card-team Ehime (Men)
            .row.streaming-card-containers
                .col-xl-5.col-lg-4.d-flex.flex-row.align-items-center.streaming-card-title-container.hvr-bounce-to-right
                    i.fas.fa-tv.mr-3
                    h3.streaming-card-title Japan League Women
                .col-3.d-flex.align-items-center.justify-content-center.streaming-card-team-container
                    p.streaming-card-team Ehime (Women)
                p.col-xl-1.col-lg-2.d-flex.align-items-center.justify-content-center.streaming-card-score 
                    | 1 - 0
                .col-3.d-flex.align-items-center.justify-content-center.streaming-card-team-container
                    p.streaming-card-team Ehime (Men)
            .row.streaming-card-containers
                .col-xl-5.col-lg-4.d-flex.flex-row.align-items-center.streaming-card-title-container.hvr-bounce-to-right
                    i.fas.fa-tv.mr-3
                    h3.streaming-card-title Japan League Women
                .col-3.d-flex.align-items-center.justify-content-center.streaming-card-team-container
                    p.streaming-card-team Ehime (Women)
                p.col-xl-1.col-lg-2.d-flex.align-items-center.justify-content-center.streaming-card-score 
                    | 1 - 0
                .col-3.d-flex.align-items-center.justify-content-center.streaming-card-team-container
                    p.streaming-card-team Ehime (Men)
            .row.streaming-card-containers
                .col-xl-5.col-lg-4.d-flex.flex-row.align-items-center.streaming-card-title-container.hvr-bounce-to-right
                    i.fas.fa-tv.mr-3
                    h3.streaming-card-title Japan League Women
                .col-3.d-flex.align-items-center.justify-content-center.streaming-card-team-container
                    p.streaming-card-team Ehime (Women)
                p.col-xl-1.col-lg-2.d-flex.align-items-center.justify-content-center.streaming-card-score 
                    | 1 - 0
                .col-3.d-flex.align-items-center.justify-content-center.streaming-card-team-container
                    p.streaming-card-team Ehime (Men)
            .row.streaming-card-containers
                .col-xl-5.col-lg-4.d-flex.flex-row.align-items-center.streaming-card-title-container.hvr-bounce-to-right
                    i.fas.fa-tv.mr-3
                    h3.streaming-card-title Japan League Women
                .col-3.d-flex.align-items-center.justify-content-center.streaming-card-team-container
                    p.streaming-card-team Ehime (Women)
                p.col-xl-1.col-lg-2.d-flex.align-items-center.justify-content-center.streaming-card-score 
                    | 1 - 0
                .col-3.d-flex.align-items-center.justify-content-center.streaming-card-team-container
                    p.streaming-card-team Ehime (Men)
            .row.streaming-card-containers
                .col-xl-5.col-lg-4.d-flex.flex-row.align-items-center.streaming-card-title-container.hvr-bounce-to-right
                    i.fas.fa-tv.mr-3
                    h3.streaming-card-title Japan League Women
                .col-3.d-flex.align-items-center.justify-content-center.streaming-card-team-container
                    p.streaming-card-team Ehime (Women)
                p.col-xl-1.col-lg-2.d-flex.align-items-center.justify-content-center.streaming-card-score 
                    | 1 - 0
                .col-3.d-flex.align-items-center.justify-content-center.streaming-card-team-container
                    p.streaming-card-team Ehime (Men)
        
        .mt-5.highlight-video-container
            h2.highlight-video-heading Video nổi bậc
            hr
            .row.highlight-box-containers
                .col-xl-3.col-lg-4.col-md-6.highlight-box                    
                    .highlight-thumbnail
                        .highlight-play-button.pulse
                        .highlight-play-button
                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                                polygon(points="40,30 65,50 40,70")
                    .highlight-title
                        p.highlight-title-match Đức - Ý
                        p.highlight-title-tour Laliga 2020 cup                
                .col-xl-3.col-lg-4.col-md-6.highlight-box
                    .highlight-thumbnail                        
                        .highlight-play-button.pulse
                        .highlight-play-button
                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                                polygon(points="40,30 65,50 40,70")
                    .highlight-title
                        p.highlight-title-match Pháp - Mỹ
                        p.highlight-title-tour Laliga 2020 cup                
                .col-xl-3.col-lg-4.col-md-6.highlight-box
                    .highlight-thumbnail                        
                        .highlight-play-button.pulse
                        .highlight-play-button
                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                                polygon(points="40,30 65,50 40,70")
                    .highlight-title
                        p.highlight-title-match BĐ Nha - TB Nha
                        p.highlight-title-tour Laliga 2020 cup                
                .col-xl-3.col-lg-4.col-md-6.highlight-box
                    .highlight-thumbnail                        
                        .highlight-play-button.pulse
                        .highlight-play-button
                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                                polygon(points="40,30 65,50 40,70")
                    .highlight-title
                        p.highlight-title-match Việt Nam - Thái Cùi
                        p.highlight-title-tour Laliga 2020 cup  
            .row.highlight-box-containers
                .col-xl-3.col-lg-4.col-md-6.highlight-box
                    .highlight-thumbnail                        
                        .highlight-play-button.pulse
                        .highlight-play-button
                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                                polygon(points="40,30 65,50 40,70")
                    .highlight-title
                        p.highlight-title-match Đức - Ý
                        p.highlight-title-tour Laliga 2020 cup                
                .col-xl-3.col-lg-4.col-md-6.highlight-box
                    .highlight-thumbnail                        
                        .highlight-play-button.pulse
                        .highlight-play-button
                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                                polygon(points="40,30 65,50 40,70")
                    .highlight-title
                        p.highlight-title-match Pháp - Mỹ
                        p.highlight-title-tour Laliga 2020 cup                
                .col-xl-3.col-lg-4.col-md-6.highlight-box
                    .highlight-thumbnail                        
                        .highlight-play-button.pulse
                        .highlight-play-button
                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                                polygon(points="40,30 65,50 40,70")
                    .highlight-title
                        p.highlight-title-match BĐ Nha - TB Nha
                        p.highlight-title-tour Laliga 2020 cup                
                .col-xl-3.col-lg-4.col-md-6.highlight-box
                    .highlight-thumbnail                        
                        .highlight-play-button.pulse
                        .highlight-play-button
                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                                polygon(points="40,30 65,50 40,70")
                    .highlight-title
                        p.highlight-title-match Việt Nam - Thái Cùi
                        p.highlight-title-tour Laliga 2020 cup                 

    .right-content.col-lg-3.col-md-12.col-xs-0
        block chat
            include ./blocks/chat
block script
    script(src='./../scripts/main.js')
    script(src='./../scripts/helper/ScrollReveal.js')
