extends ./layouts/common.pug
block vars
    - var title="Trang chủ"

block container
    .col-md-12.col-lg-9.col-xl-8.left-content
        section.mt-5.schedule-container
            include ./components/_schedule
        
        section#tennis.mt-5
            include ./components/_tennis.pug
        
        section.mt-5.streaming-container
            include ./components/_streaming
        
        section.mt-5.highlight-video-container
            include ./components/_hightlightsVideo
    .col-md-0.col-lg-3.col-xl-4.right-content
        block chat
            include ./components/_chat    

block script
    script(src='./../scripts/main.js')
    script(src='./../scripts/helper/ScrollReveal.js')
    script(src='./../scripts/helper/SlickSlider.js')
