extends ./layouts/common.pug
block vars
    - var title = "Watch"
    - var authorized = false
    - var watchStreaming = true
block link
    link(rel="stylesheet" href="./../styles/streaming.scss")
    link(href="./../styles/css/hover.min.css" rel="stylesheet")

block container
    .row.d-flex.justify-content-center.m-0
        .container-center.bg-none
            .title-container.container.p-0.d-flex.align-items-center
                h1.title.text-uppercase.text-white.p-0 Man City - Man united
            .container.video-container
                video(autoplay="False" controls).streamVideo

            .watching-ab.container.description
                .row.text-white.description-row
                    .col-6.watching-now.fas.fa-eye.d-none.d-sm-block.watching-ab-content Watching now:
                        span.watching-num 0
                    .col-6.watching-total.fas.fa-globe-asia.d-none.d-sm-block.watching-ab-content Total:
                        span.total-num 0
                    .watching-ab-icon.col-3.fa.d-block.d-sm-none.border-right.h-100.d-flex.align-items-center.justify-content-center
                        a.fa-eye.icon
                            span.watching-num 0
                    .watching-ab-icon.col-3.fa.d-block.d-sm-none.border-right.h-100.d-flex.align-items-center.justify-content-center
                        a.fa-globe-asia.icon
                            span.total-num 0
            .container.p-0
                .ad.w-100
                    include ./components/_advertisement

            .page-control.container.description
                .row.text-white.description-row.h-100.d-flex.align-items-center
                    .col-6.d-none.d-sm-block.page-control-content.nav-item.active
                        .hvr-bounce-in.fa.fa-lightbulb Turn light off
                    .col-6.d-none.d-sm-block.page-control-content
                        .hvr-bounce-in.fa.fa-comments Comments
                    .col-6.fa.d-block.d-sm-none.border-right.h-100.d-flex.align-items-center.justify-content-center
                        a.fa-lightbulb.icon
                    .col-6.fa.d-block.d-sm-none.border-right.h-100.d-flex.align-items-center.justify-content-center
                        a.fa-comments.icon
            .server-selection.bg-blue.container.description
                .row.server.text-white
                    .col-12.col-sm-3.fa.fa-server  Server
                    .col-12.col-sm-3
                        .server-bt-container.fa
                            a.hvr-bounce-in.server-bt.fas.fa-play.active(data-source)  HD-720p

                .row.server.text-white
                    .col-12.col-sm-3.fa.fa-server  Server
                    .col-12.col-sm-3
                        .server-bt-container.fa
                            a.hvr-bounce-in.server-bt.fas.fa-play(data-source)  HD-720p

            .container.p-0
                .ad.w-100
                    include ./components/_advertisement

block script
    script(src='./../scripts/streaming.js')