extends ./layouts/common.pug

block vars
    - var title="Livestreaming"

block container

    h1.text-center.mt-4 Watching

    .d-flex.justify-content-center.align-items-center
        video.border.video-streaming(controls, autoplay, style="width: 80%;max-height: 80%;")

block script
    script(src='./../scripts/streaming.js')