// TENNIS
section#tennis
.container.py-5
    .row
    .col-xl-9
        h3.sport-title1 TENNIS
        br
        br
        .row
        .col-6
            h3.schedules-info1 Watch today live streaming schedules
        .d-flex.flex-row.justify-content-center.p-2
        h3.date Today
        // MATCH
        .custom_match_layout1.row
        .col-3.custom_image1
            img(src='../images/94c1a9967226aa319bf7158f5ae4d05b.jpg' alt='')
        .col-6.custom_match_info1.text-center
            h2.custom_name1
            h3.custom_tournament_name1
            | WTA Linz, Austria
        .col-3.custom_play_botton1.text-right
            p.custom_date 19:00 Octoober 13
        // END MATCH
        // MATCH
        a.custom_match_link(href='#')
        .custom_match_layout1.row
            .col-3.custom_image1
            img(src='../images/b1bcb199640ebeb55bcf63fd4bb5ba40.png' alt='')
            .col-6.custom_match_info1.text-center
            h2.custom_name1
                | Daniil Medvedev vs Alexander Zverev
            h3.custom_tournament_name1
                | ATP Shanghai, China
            .col-3.custom_play_botton1
            .match_is_playing1
                img(src='../images/live-icon.png' alt='')
                p(style='text-align: center') LIVE
        // END MATCH
        // MATCH
        .custom_match_layout1.row
        .col-3.custom_image1
            img(src='../images/94c1a9967226aa319bf7158f5ae4d05b.jpg' alt='')
        .col-6.custom_match_info1.text-center
            h2.custom_name1
            | Gauff C. VS Ostapenko J
            h3.custom_tournament_name1
            | WTA Linz, Austria
        .col-3.custom_play_botton1.text-right
            p.custom_date 19:00 Octoober 13
        // MATCH
        .custom_match_layout1.row
        .col-3.custom_image1
            img(src='../images/google.jpg' alt='')
        .col-6.custom_match_info1.text-center
            h2.custom_name1
            h3.custom_tournament_name1
            | WTA Linz, Austria
        .col-3.custom_play_botton1.text-right
            p.custom_date1 19:00 Octoober 13