// TENNIS
section#tennis
  .py-5
    .row
      .col
        h3.sport-title TENNIS
        br
        br
        .row
          .col-6
            h3.schedules-info Watch today live streaming schedules
        .d-flex.flex-row.justify-content-center.p-2
          h3.date Today
        // MATCH
        .custom_match_layout.row
          .col-3.custom_image
            img(src='../images/94c1a9967226aa319bf7158f5ae4d05b.jpg' alt='')
          .col-6.custom_match_info.text-center
            h2.custom_name
            h3.custom_tournament_name
              | WTA Linz, Austria
          .col-3.custom_play_botton.text-right
            p.custom_date 16:00 November 19
        // END MATCH
        // MATCH
        a.custom_match_link(href='#')
          .custom_match_layout.row
            .col-3.custom_image
              img(src='../images/b1bcb199640ebeb55bcf63fd4bb5ba40.png' alt='')
            .col-6.custom_match_info.text-center
              h2.custom_name
                | Daniil Medvedev vs Alexander Zverev
              h3.custom_tournament_name
                | ATP Shanghai, China
            .col-3.custom_play_botton
              .match_is_playing
                img(src='../images/live-icon.png' alt='')
                p(style='text-align: center') LIVE
        // END MATCH
        // MATCH
        .custom_match_layout.row
          .col-3.custom_image
            img(src='../images/94c1a9967226aa319bf7158f5ae4d05b.jpg' alt='')
          .col-6.custom_match_info.text-center
            h2.custom_name
              | Gauff C. VS Ostapenko J
            h3.custom_tournament_name
              | WTA Linz, Austria
          .col-3.custom_play_botton.text-right
            p.custom_date 08:00 July 21
        // MATCH
        .custom_match_layout.row
          .col-3.custom_image
            img(src='../images/b1bcb199640ebeb55bcf63fd4bb5ba40.png' alt='')
          .col-6.custom_match_info.text-center
            h2.custom_name
            h3.custom_tournament_name
              | WTA Linz, Austria
          .col-3.custom_play_botton.text-right
            p.custom_date 19:00 Octoober 13