.header.position-sticky(style="top: -1px; z-index: 10")
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.navbar-main
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#headerNavBar' aria-controls='headerNavBar' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #headerNavBar.collapse.navbar-collapse        
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='/') Home
                li.nav-item
                    a.nav-link(href='/admin') Dashboard
                li.nav-item
                    a.nav-link(href='/admin/newStreaming') New streaming
