footer.footer
    p.footer-content 
        strong DISCLAIMER: 
        | MygoalTV.com does not host any of the full match files and videos embedded here. All videos and full match files are uploaded by football / soccer fans to websites like YouTube, Rutube, Videa or Dailymotion, Uploaded, Rapidgator... Our mission here, is to organize those videos, files and to make your search for the latest soccer goals, highlights, full match easier...

