.chat-container
    .chat-box
    a(href="#").donation-button 
        img(src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee")
        span Buy me a coffee
    include ./_advertisement