span.ml-2.sport-type Football
br
include ./_advertisement
.schedule-divider.mt-4.today-football-matches
    h4 Today
    a(href="https://youtube.com").row.schedule-item-containers
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-center.schedule-item-left-content
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
            .schedule-team-name-container.schedule-team-name-container-1
                p.schedule-team-name-content.schedule-team-name-content-left Lokey
        .col-2.col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
            p.schedule-time 14:00
            .schedule-date 20/10/2019
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-center.schedule-item-right-content
            .schedule-team-name-container.schedule-team-name-container-2
                p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')    
    a(href="https://youtube.com").row.schedule-item-containers
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.schedule-item-left-content
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg')
            .schedule-team-name-container.schedule-team-name-container-1
                p.schedule-team-name-content.schedule-team-name-content-left Lokey
        .col-2.col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
            img.schedule-time-img.hvr-bounce-in(src="../images/live-icon.png" alt="Live stream")
            strong.schedule-time-img-live Live
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-end.schedule-item-right-content
            .schedule-team-name-container.schedule-team-name-container-2
                p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg')

.schedule-divider.mt-4.tomorrow-football-matches
    h4 Tomorrow
    a(href="https://youtube.com").row.schedule-item-containers
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-center.schedule-item-left-content
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
            .schedule-team-name-container.schedule-team-name-container-1
                p.schedule-team-name-content.schedule-team-name-content-left Lokey
        .col-2.col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
            p.schedule-time 14:00
            .schedule-date 20/10/2019
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-center.schedule-item-right-content
            .schedule-team-name-container.schedule-team-name-container-2
                p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')    
    a(href="https://youtube.com").row.schedule-item-containers
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.schedule-item-left-content
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg')
            .schedule-team-name-container.schedule-team-name-container-1
                p.schedule-team-name-content.schedule-team-name-content-left Lokey
        .col-2.col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
            img.schedule-time-img.hvr-bounce-in(src="../images/live-icon.png" alt="Live stream")
            strong.schedule-time-img-live Live
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-end.schedule-item-right-content
            .schedule-team-name-container.schedule-team-name-container-2
                p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg')