span.ml-2.sport-type Football
br
- var src = 'https://www.steepto.com/ghits/4370052/i/28130/0/pp/4/1?h=4j8Sg3TAvX0UHpjQA-B6ZlOd1czll2NAyRpyvep90uuT_58rC1WQ-Wmbd43FEavR&rid=853ee9fd-fa25-11e9-a136-e4434b2123d2&tt=Direct&k=401861fcQj1hEgEj5fJKfW8WnbrtfW8WsVGDfJ2fQSf8%3AfOYfRfv%3DfV~fm%3DfZ%2BfKZmLbBf8%3AfQfTfaHR0cDovL215Z29hbHR2LmNvb%248%2FZmJjbGlkPUl3QVIxNWhER1gzNk5yMVJzOTk0UVpmNm93U3BXTnUtTUVhU1owQWJTUXR3a2d2T0ZZWExFbTVJamphUDA%3Dfff%3BfMTA0MnwyMzMz*DEwNzV8MjI2Mw%3D%3DfMHww*DA%3Df!f!fcfMTA3MnwzMTJ8OTE4*C00Mzg%3DfVWfMAfW8Wnb-yf!fTW96aWxsY%2481LjAgKFgxMTsgTGludXggeDg2XzY0K%24BBcHBsZVdlYktpdC81MzcuMzYgKEtIVE1MLCBsaWtlIEdlY2tvK%24BDaHJvbWUvNzguMC4zOTA0LjcwIFNhZmFya%2481MzcuMzY%3DfQ2hyb21lUERGUGx1Z2lu*ENocm9tZVBERlZpZXdlcnxOYXRpdmVDbGllbnQ%3Df%3DfTGludXggeDg2XzY0fNDIwfMXwzMg%3D%3DfVWfKwf!fbfQf!f*f*&muid=j9s4j_dK_rt5'
- var thumbnail = 'https://s-img.steepto.com/g/4370052/492x328/0x0x492x328/aHR0cDovL2ltZ2hvc3RzLmNvbS90LzIwMTktMTAvNDMxMjIyLzUwNzA2YmMyNWNhNjgyZGJjMzRiZWE0YTBlYjU5YmY3LmpwZw**.webp'
include ./_advertisement
.schedule-divider.mt-4.today-football-matches
    h4 Today
    a(href="https://youtube.com").row.schedule-item-containers
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-center.schedule-item-left-content
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
            .schedule-team-name-container.schedule-team-name-container-1
                p.schedule-team-name-content.schedule-team-name-content-left Lokey
        .col-2.col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
            p.schedule-time 14:00
            .schedule-date 20/10/2019
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-center.schedule-item-right-content
            .schedule-team-name-container.schedule-team-name-container-2
                p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')    
    a(href="https://youtube.com").row.schedule-item-containers
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.schedule-item-left-content
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg')
            .schedule-team-name-container.schedule-team-name-container-1
                p.schedule-team-name-content.schedule-team-name-content-left Lokey
        .col-2.col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
            img.schedule-time-img.hvr-bounce-in(src="../images/live-icon.png" alt="Live stream")
            strong.schedule-time-img-live Live
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-end.schedule-item-right-content
            .schedule-team-name-container.schedule-team-name-container-2
                p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg')

.schedule-divider.mt-4.tomorrow-football-matches
    h4 Tomorrow
    a(href="https://youtube.com").row.schedule-item-containers
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-center.schedule-item-left-content
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
            .schedule-team-name-container.schedule-team-name-container-1
                p.schedule-team-name-content.schedule-team-name-content-left Lokey
        .col-2.col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
            p.schedule-time 14:00
            .schedule-date 20/10/2019
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-center.schedule-item-right-content
            .schedule-team-name-container.schedule-team-name-container-2
                p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')    
    a(href="https://youtube.com").row.schedule-item-containers
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.schedule-item-left-content
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg')
            .schedule-team-name-container.schedule-team-name-container-1
                p.schedule-team-name-content.schedule-team-name-content-left Lokey
        .col-2.col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
            img.schedule-time-img.hvr-bounce-in(src="../images/live-icon.png" alt="Live stream")
            strong.schedule-time-img-live Live
        .col-5.col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-end.schedule-item-right-content
            .schedule-team-name-container.schedule-team-name-container-2
                p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
            img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg')