h2.highlight-video-heading Highlight videos
hr
.highlight-box-containers.slider-for
    a(href="https://youtube.com").highlight-box
        .highlight-thumbnail
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match Đức - Ý
            p.highlight-title-tour Laliga 2020 cup                
    a(href="https://youtube.com").highlight-box
        .highlight-thumbnail                        
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match Pháp - Mỹ
            p.highlight-title-tour Laliga 2020 cup                
    a(href="https://youtube.com").highlight-box
        .highlight-thumbnail                        
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match BĐ Nha - TB Nha
            p.highlight-title-tour Laliga 2020 cup                
    a(href="https://youtube.com").highlight-box
        .highlight-thumbnail                        
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match Việt Nam - Thái Cùi
            p.highlight-title-tour Laliga 2020 cup  

.highlight-box-containers.slider-nav
    a(href="https://youtube.com").highlight-box
        .highlight-thumbnail
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match Đức - Ý
            p.highlight-title-tour Laliga 2020 cup                
    a(href="https://youtube.com").highlight-box
        .highlight-thumbnail                        
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match Pháp - Mỹ
            p.highlight-title-tour Laliga 2020 cup                
    a(href="https://youtube.com").highlight-box
        .highlight-thumbnail                        
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match BĐ Nha - TB Nha
            p.highlight-title-tour Laliga 2020 cup                
    a(href="https://youtube.com").highlight-box
        .highlight-thumbnail                        
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match Việt Nam - Thái Cùi
            p.highlight-title-tour Laliga 2020 cup

.highlight-box-containers-responsive
    .row.highlight-box-containers
        .col-6.highlight-box
            a(href="https://youtube.com")
                .highlight-thumbnail
                    .highlight-play-button.pulse
                    .highlight-play-button
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                            polygon(points="40,30 65,50 40,70")
                .highlight-title
                    p.highlight-title-match Đức - Ý
                    p.highlight-title-tour Laliga 2020 cup    
        .col-6.highlight-box
            a(href="https://youtube.com")
                .highlight-thumbnail                        
                    .highlight-play-button.pulse
                    .highlight-play-button
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                            polygon(points="40,30 65,50 40,70")
                .highlight-title
                    p.highlight-title-match Pháp - Mỹ
                    p.highlight-title-tour Laliga 2020 cup                
        .col-6.highlight-box
            a(href="https://youtube.com")
                .highlight-thumbnail                        
                    .highlight-play-button.pulse
                    .highlight-play-button
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                            polygon(points="40,30 65,50 40,70")
                .highlight-title
                    p.highlight-title-match BĐ Nha - TB Nha
                    p.highlight-title-tour Laliga 2020 cup
        .col-6.highlight-box
            a(href="https://youtube.com")
                .highlight-thumbnail
                    .highlight-play-button.pulse
                    .highlight-play-button
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                            polygon(points="40,30 65,50 40,70")
                .highlight-title
                    p.highlight-title-match Đức - Ý
                    p.highlight-title-tour Laliga 2020 cup    
        .col-6.highlight-box
            a(href="https://youtube.com")
                .highlight-thumbnail                        
                    .highlight-play-button.pulse
                    .highlight-play-button
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                            polygon(points="40,30 65,50 40,70")
                .highlight-title
                    p.highlight-title-match Pháp - Mỹ
                    p.highlight-title-tour Laliga 2020 cup
        .col-6.highlight-box
            a(href="https://youtube.com")
                .highlight-thumbnail
                    .highlight-play-button.pulse
                    .highlight-play-button
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                            polygon(points="40,30 65,50 40,70")
                .highlight-title
                    p.highlight-title-match BĐ Nha - TB Nha
                    p.highlight-title-tour Laliga 2020 cup
a(href="/" target="_blank").btn-hover-animation
    span Xem tất cả