h2.highlight-video-heading Video nổi bậc
hr
.row.highlight-box-containers
    a(href="https://youtube.com").col-xl-3.col-lg-6.col-sm-6.highlight-box
        .highlight-thumbnail
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match Đức - Ý
            p.highlight-title-tour Laliga 2020 cup                
    a(href="https://youtube.com").col-xl-3.col-lg-6.col-sm-6.highlight-box
        .highlight-thumbnail                        
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match Pháp - Mỹ
            p.highlight-title-tour Laliga 2020 cup                
    a(href="https://youtube.com").col-xl-3.col-lg-6.col-sm-6.highlight-box
        .highlight-thumbnail                        
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match BĐ Nha - TB Nha
            p.highlight-title-tour Laliga 2020 cup                
    a(href="https://youtube.com").col-xl-3.col-lg-6.col-sm-6.highlight-box
        .highlight-thumbnail                        
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match Việt Nam - Thái Cùi
            p.highlight-title-tour Laliga 2020 cup  
.row.highlight-box-containers
    a(href="https://youtube.com").col-xl-3.col-lg-6.col-sm-6.highlight-box                    
        .highlight-thumbnail
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match Đức - Ý
            p.highlight-title-tour Laliga 2020 cup                
    a(href="https://youtube.com").col-xl-3.col-lg-6.col-sm-6.highlight-box
        .highlight-thumbnail                        
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match Pháp - Mỹ
            p.highlight-title-tour Laliga 2020 cup                
    a(href="https://youtube.com").col-xl-3.col-lg-6.col-sm-6.highlight-box
        .highlight-thumbnail                        
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match BĐ Nha - TB Nha
            p.highlight-title-tour Laliga 2020 cup                
    a(href="https://youtube.com").col-xl-3.col-lg-6.col-sm-6.highlight-box
        .highlight-thumbnail                        
            .highlight-play-button.pulse
            .highlight-play-button
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                    polygon(points="40,30 65,50 40,70")
        .highlight-title
            p.highlight-title-match Việt Nam - Thái Cùi
            p.highlight-title-tour Laliga 2020 cup  
