h2.schedule-heading Schedule
hr
.sport-type-container.text-center
    span.ml-2.sport-type Football
    br
    include ./_advertisement
    //- .schedule-divider.mt-4
    //-     h4 Today
    //-     a(href="https://youtube.com").row.schedule-item-containers
    //-         .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.schedule-item-left-content
    //-             img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
    //-             .schedule-team-name-container.schedule-team-name-container-1
    //-                 p.schedule-team-name-content.schedule-team-name-content-left Lokey
    //-         .col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
    //-             p.schedule-time 14:00
    //-             strong.schedule-tour-name 20/10/2019
    //-         .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-end.schedule-item-right-content
    //-             .schedule-team-name-container.schedule-team-name-container-2
    //-                 p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
    //-             img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')        
    //-     a(href="https://youtube.com").row.schedule-item-containers
    //-         .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.schedule-item-left-content
    //-             img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
    //-             .schedule-team-name-container.schedule-team-name-container-1
    //-                 p.schedule-team-name-content.schedule-team-name-content-left Lokey
    //-         .col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
    //-             p.schedule-time 14:00
    //-             strong.schedule-tour-name 20/10/2019        
    //-         .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-end.schedule-item-right-content
    //-             .schedule-team-name-container.schedule-team-name-container-2
    //-                 p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
    //-             img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')            
    //-     a(href="https://youtube.com").row.schedule-item-containers
    //-         .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.schedule-item-left-content
    //-             img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
    //-             .schedule-team-name-container.schedule-team-name-container-1
    //-                 p.schedule-team-name-content.schedule-team-name-content-left Lokey
    //-         .col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
    //-             p.schedule-time 14:00
    //-             strong.schedule-tour-name 20/10/2019        
    //-         .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-end.schedule-item-right-content
    //-             .schedule-team-name-container.schedule-team-name-container-2
    //-                 p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
    //-             img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')            
    //-     a(href="https://youtube.com").row.schedule-item-containers
    //-         .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.schedule-item-left-content
    //-             img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
    //-             .schedule-team-name-container.schedule-team-name-container-1
    //-                 p.schedule-team-name-content.schedule-team-name-content-left Lokey
    //-         .col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
    //-             img.schedule-time-img.hvr-bounce-in(src="../images/live-icon.png" alt="Live stream")
    //-             strong.schedule-team-img-live Live
    //-         .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-end.schedule-item-right-content
    //-             .schedule-team-name-container.schedule-team-name-container-2
    //-                 p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
    //-             img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')        
    
    .schedule-divider.mt-4
        h4 Tomorrow
        a(href="https://youtube.com").row.schedule-item-containers
            .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.schedule-item-left-content
                img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
                .schedule-team-name-container.schedule-team-name-container-1
                    p.schedule-team-name-content.schedule-team-name-content-left Lokey
            .col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                p.schedule-time 14:00
                strong.schedule-tour-name 20/10/2019
            .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-end.schedule-item-right-content
                .schedule-team-name-container.schedule-team-name-container-2
                    p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
                img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
        a(href="https://youtube.com").row.schedule-item-containers
            .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.schedule-item-left-content
                img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
                .schedule-team-name-container.schedule-team-name-container-1
                    p.schedule-team-name-content.schedule-team-name-content-left Lokey
            .col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                p.schedule-time 14:00
                strong.schedule-tour-name 20/10/2019        
            .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-end.schedule-item-right-content
                .schedule-team-name-container.schedule-team-name-container-2
                    p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
                img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')            
        a(href="https://youtube.com").row.schedule-item-containers
            .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.schedule-item-left-content
                img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
                .schedule-team-name-container.schedule-team-name-container-1
                    p.schedule-team-name-content.schedule-team-name-content-left Lokey
            .col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                p.schedule-time 14:00
                strong.schedule-tour-name 20/10/2019        
            .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-end.schedule-item-right-content
                .schedule-team-name-container.schedule-team-name-container-2
                    p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
                img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')            
        a(href="https://youtube.com").row.schedule-item-containers
            .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.schedule-item-left-content
                img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')
                .schedule-team-name-container.schedule-team-name-container-1
                    p.schedule-team-name-content.schedule-team-name-content-left Lokey
            .col-sm-2.col-md-2.col-xl-2.schedule-time-container.d-flex.flex-column.justify-content-center.align-items-center
                img.schedule-time-img.hvr-bounce-in(src="../images/live-icon.png" alt="Live stream")
                strong.schedule-team-img-live Live
            .col-sm-5.col-md-5.d-flex.flex-row.align-items-center.justify-content-end.schedule-item-right-content
                .schedule-team-name-container.schedule-team-name-container-2
                    p.schedule-team-name-content.schedule-team-name-content-right Boba Marine
                img.rounded-circle.img-responsive.schedule-team-img(src='../images/representative.jpg' alt='Images logo')        