.row.server.text-white.description-row
    .col-12.col-sm-3.fa.fa-server.p-0 Server
    .col-12.col-sm-3
        .server-bt-container.fa
            a.hvr-bounce-in.server-bt.fas.fa-play(data-source) HD-720p