h2.mt-5.create-streaming-heading Streaming data
table.table.table-light.table-striped.table-hover.table-responsive-lg.streaming-table-data.table-pagination-data
    thead
        tr
        th(style="width: 30%" scope='col') Title
        th(style="width: 30%" scope='col') Tournament
        th(style="width: 15%" scope='col') Status
        th(style="width: 10%" scope='col') Score
        th(style="width: 15%" scope='col')
    tbody
        
nav.streaming-data-pagination(aria-label='Page navigation example')
    ul.pagination

