.sport-type-container.text-center
    - var src = 'https://www.steepto.com/ghits/4370052/i/28130/0/pp/4/1?h=4j8Sg3TAvX0UHpjQA-B6ZlOd1czll2NAyRpyvep90uuT_58rC1WQ-Wmbd43FEavR&rid=853ee9fd-fa25-11e9-a136-e4434b2123d2&tt=Direct&k=401861fcQj1hEgEj5fJKfW8WnbrtfW8WsVGDfJ2fQSf8%3AfOYfRfv%3DfV~fm%3DfZ%2BfKZmLbBf8%3AfQfTfaHR0cDovL215Z29hbHR2LmNvb%248%2FZmJjbGlkPUl3QVIxNWhER1gzNk5yMVJzOTk0UVpmNm93U3BXTnUtTUVhU1owQWJTUXR3a2d2T0ZZWExFbTVJamphUDA%3Dfff%3BfMTA0MnwyMzMz*DEwNzV8MjI2Mw%3D%3DfMHww*DA%3Df!f!fcfMTA3MnwzMTJ8OTE4*C00Mzg%3DfVWfMAfW8Wnb-yf!fTW96aWxsY%2481LjAgKFgxMTsgTGludXggeDg2XzY0K%24BBcHBsZVdlYktpdC81MzcuMzYgKEtIVE1MLCBsaWtlIEdlY2tvK%24BDaHJvbWUvNzguMC4zOTA0LjcwIFNhZmFya%2481MzcuMzY%3DfQ2hyb21lUERGUGx1Z2lu*ENocm9tZVBERlZpZXdlcnxOYXRpdmVDbGllbnQ%3Df%3DfTGludXggeDg2XzY0fNDIwfMXwzMg%3D%3DfVWfKwf!fbfQf!f*f*&muid=j9s4j_dK_rt5'
    - var thumbnail = 'https://s-img.steepto.com/g/3632791/492x328/622x0x679x452/aHR0cDovL2ltZ2hvc3RzLmNvbS90LzIwMTktMDUvMzc1NjkyLzRiZDdmNmU2OWZkY2JkZDVhMzVmNmEwZGUyYTAyYjQyLmpwZw**.webp'
    include ./_advertisement
    include ./_advertisement
    .mb-2
    span.sport-type Live
    .streaming-videos-container.mt-3