.container-center.bg-none
    .title-container.container.p-0.d-flex.align-items-center
        h1.title.text-uppercase.text-white.p-0 Man City - Man united
    //- .container.video-container
        //- video(controls data-setup='{}' playsinline)#video-hls.w-100.p-0.stream-video.video-js.vjs-default-skin
            source(src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4")
            //- source(src="http://localhost:3002/live/loi/index.m3u8" type="application/x-mpegURL")
            p.vjs-no-js To view this video please enable JavaScript, and consider upgrading to a web browser that
                a(href='https://videojs.com/html5-video-support/' target='_blank') supports HTML5 video

    include ./_supportUsText