.row.mt-5
    .sport-type-container.col.text-center.tennis-container
        span.ml-2.sport-title.sport-type
            | TENNIS

        .schedule-divider.mt-4
            h4 Today
            a.tennis_link(href='#')
                .tennis_layout.row
                    .col-3.tennis_logo
                        img(src='../images/94c1a9967226aa319bf7158f5ae4d05b.jpg' alt='')
                    .col-6.tennis_info.text-center
                        h2.tennis_players_name
                            | Daniil Medvedev vs Alexander Zverev
                        h3.tennis_tournament_name
                            | WTA Linz, Austria
                    .col-3.play_button.text-right
                        p.tennis_date 16:00 November 19            
            a.tennis_link(href='#')
                .tennis_layout.row
                    .col-3.tennis_logo
                        img(src='../images/b1bcb199640ebeb55bcf63fd4bb5ba40.png' alt='')
                    .col-6.tennis_info.text-center
                        h2.tennis_players_name
                            | Daniil Medvedev vs Alexander Zverev
                        h3.tennis_tournament_name
                            | ATP Shanghai, China
                    .col-3.play_button
                        .tennis_is_playing
                            img(src='../images/live-icon.png' alt='')
                            p.tennis-time LIVE
        
        .schedule-divider.mt-5
            h4 Tomorrow
            a.tennis_link(href='#')
                .tennis_layout.row
                    .col-3.tennis_logo
                        img(src='../images/94c1a9967226aa319bf7158f5ae4d05b.jpg' alt='')
                    .col-6.tennis_info.text-center
                        h2.tennis_players_name
                            | Daniil Medvedev vs Alexander Zverev
                        h3.tennis_tournament_name
                            | WTA Linz, Austria
                    .col-3.play_botton.text-right
                        p.tennis_date 16:00 November 19
            a.tennis_link(href='#')
                .tennis_layout.row
                    .col-3.tennis_logo
                        img(src='../images/b1bcb199640ebeb55bcf63fd4bb5ba40.png' alt='')
                    .col-6.tennis_info.text-center
                        h2.tennis_players_name
                            | Daniil Medvedev vs Alexander Zverev
                        h3.tennis_tournament_name
                            | ATP Shanghai, China
                    .col-3.play_botton
                        .tennis_is_playing
                            img(src='../images/live-icon.png' alt='')
                            p.tennis-time LIVE