.ex-text.container.description
    .row.text-black.description-row.d-block
        h1(color="red") Viet Nam
        br
        p Có lẽ Apple buộc phải sử dụng thiết kế in-ear để tích hợp công nghệ chống ồn chủ động (ANC) trên AirPods Pro. Theo Apple, mỗi tai nghe sẽ được tích hợp 2 micro, kết hợp cùng phần mềm để giảm ồn ở nền, đem lại âm thanh tập trung hơn cho người sử dụng.
        br
        p Trong 2 micro, chiếc quay ra ngoài sẽ nhận biết âm thanh và phân tích tín hiệu. AirPods Pro sau đó sẽ tạo ra tín hiệu nhằm triệt tiêu tiếng ồn bên ngoài. Micro quay vào trong sẽ giúp nhận biết những tiếng ồn còn lại. Apple cho biết hệ thống khử nhiễu sẽ quét âm thanh 200 lần/giây.
        br
        img(src="./../images/google.jpg")
        br
        p Trong 2 micro, chiếc quay ra ngoài sẽ nhận biết âm thanh và phân tích tín hiệu. AirPods Pro sau đó sẽ tạo ra tín hiệu nhằm triệt tiêu tiếng ồn bên ngoài. Micro quay vào trong sẽ giúp nhận biết những tiếng ồn còn lại. Apple cho biết hệ thống khử nhiễu sẽ quét âm thanh 200 lần/giây.
