/**
* reset the universal setting or box-model
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;

    @include breakpoint(desktop) {
        font-size: 22px;
    }
}

body {
    box-sizing: border-box;
    overflow-x: hidden;    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;

    &:hover,
    &:focus,
    &:visited {
        text-decoration: none;
        color: initial;
    }
}

p {
    margin: 0;
    padding: 0
}