/**
* reset the universal setting or box-model
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/**
* default font-size = 10px;
*/
html { 
    // font-size: 62.5%;    
    scroll-behavior: smooth;      
}

body { 
    box-sizing: border-box;
    overflow-x: hidden;
}

ul { list-style-type: none; }

a { 
    text-decoration: none; 

    &:hover,
    &:focus,
    &:visited {
        text-decoration: none;
        color: initial;
    }
}

p { margin: 0; padding: 0 }

@include breakpoint(wtf-tablet) {
    main.row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    main.container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}